

.body {
    height: 100%;;
    background: #2D2D2D;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .bigBox{
      margin: 100px auto;
      width: 40%;
      background-color: whitesmoke;
      padding-bottom: 25px;
      padding-top: 25px;
      border-radius: 5px;
  }
  .mainTitle{  
    text-align: center;
    height: 100px;
    position: relative;
    overflow: auto;
    font-size: 70px;
  }
  .mainInput{
      width: 80%;
      margin: auto;
  }
  .mainLi{
    width: 80%;
    margin: auto;
  }